<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./angular.min.js"></script>
</head>
<body>
  <div ng-app="alertsApp" ng-controller="alertsCtrl">
    <button ng-click="alertGoodPlay()">Good Play!</button>
    <button ng-click="alertBadLie()">Bad Lie!</button>
  </div>
  <script>
  var app = angular.module('alertsApp', []);
  app.controller('alertsCtrl', function($scope) {
    $scope.alertGoodPlay = function() {
      nodecg.sendMessage('goodPlay');
    };
    $scope.alertBadLie = function() {
      nodecg.sendMessage('badLie');
    };
  });
  </script>
</body>
</html>
