<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./angular.min.js"></script>
    <script src="./constants.js"></script>
    <script src="./helper.js"></script>
</head>
<body>
  <div ng-app="showStatsApp" ng-controller="showStatsCtrl">
    <p>
      Show Timer: {{setRepAndDisplay(timeSinceStart)}}
    </p>
    <p>
      Correspondent: <input type="text" ng-model="showStats.correspondent"></input>
    </p>
    <p>
      Host Left: <input type="text" ng-model="showStats.hostLeft"></input>
      Host Right: <input type="text" ng-model="showStats.hostRight"></input>
    <p>
      Week: <input type="text" ng-model="showStats.week" size="1" maxlength="1"></input>
    </p>
    <button ng-click="startShow()" ng-disabled="cantStart()">Start Show</button>
    <p>
      Scores:
      <span ng-repeat="team in showStats.teams" style="text-transform:uppercase">
        {{team.name}}
        <input type="text" size="1" maxlength="1"
               ng-model="team.score">
        </input>
      </span>
    </p>
    <p>
      Round:
      <input type="text" size="1" maxlength="1"
             ng-model="showStats.round">
      </input>
    </p>
    <button ng-click="correct()">Correct Stats</button>
  </div>
  <script>
  var app = angular.module('showStatsApp', []);
  app.controller('showStatsCtrl', function($scope, $interval) {
    $scope.showStats = {};
    $scope.timeSinceStart = 0;
    $scope.broadcastStartTime = 0;

    var ticker;

    $scope.setRepAndDisplay = function(time) {
      var prettyTime = displayTime(time);
      showTimerRep.value = prettyTime;
      return prettyTime;
    };

    $scope.cantStart = function () {
      return Object.entries(playersRep.value).length < 3 || !$scope.showStats.week;
    };

    $scope.startShow = function () {
      showStatsRep.value.teams = initTeams;
      showStatsRep.value.round = 0;
      showStatsRep.value.week = $scope.showStats.week;
      startShowTimer();
    };

    $scope.correct = function () {
      showStatsRep.value = $scope.showStats;
    };

    function startShowTimer() {
      $scope.broadcastStartTime = new Date().getTime();
      evalDiff();
      if (ticker) {
        stop();
      }
      ticker = $interval(function() {
        evalDiff();
      }, 1000);
    };

    function evalDiff() {
      $scope.timeSinceStart = new Date().getTime() - $scope.broadcastStartTime;
    }

    function stop() {
      $interval.cancel(ticker);
    }

    showStatsRep.on('change', (oldValue, newValue) => {
      $scope.showStats = showStatsRep.value;
      $scope.$apply();
    });
  });
  </script>
</body>
</html>
