<div>
    <h3>{{player.name}}</h3>
    <img
      src="../dashboard/img/{{active.indexOf(player.role) !== -1 ? player.role : 'card_back'}}.png"
      style="height:80px">
    </img>
    <p>
      <select ng-model="newRole" ng-show="{{panel}}">
        <option ng-repeat="onuwRole in active | orderBy">{{onuwRole}}</option>
      </select>
      <button
        ng-click="assign({playerId: key, newRole: newRole})"
        ng-show="{{panel}}">
        Assign Role
      </button>
    </p>
    <button
      ng-click="remove()"
      ng-show="{{panel}}">
      Remove
    </button>
</div>
